h1 {
  text-align: center;
  font-size: 5em;
}

.toHome a {
  font-size: 3em;
}


.shipnavItems {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.shipnavItems p {
  font-size: 3em;
  padding: 5% 0;
  padding-left: 3%;
  text-decoration: none;
  color: black;
  border-bottom: solid black 1px;
}
